.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--background-secondary);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .song img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .song-details {
    flex: 1;
  }

  .song-details h3 {
    margin: 0;
    color: var(--text-primary);
  }

  .song-details p {
    margin: 5px 0;
    color: var(--text-secondary);
  }

  .play-button {
    background-color: var(--accent-color);
    color: var(--background-primary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .play-button:hover {
    background-color: var(--accent-dark);
  }


  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-secondary);
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  .bottom-bar .play-button {
    margin-right: 10px;
  }